
.jumbotron.jumbotron-fluid {
    
    height: 150px;
}


.navbar-brand {
    color: azure
}


.nav-link.disabled {
    color: azure
}

.nav-link {
    color: azure
}


#status
{
   resize: none;
   text-align: center;
   border: none;
}

textarea
{
   
   resize: none;
   text-align: center;
   border: none

}

#dispCard
{
   max-height: 300px;
}


