
.jumbotron.jumbotron-fluid {
    
    height: 150px;
}

.jumbotron
{
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.header
{
  align-items: center;
  text-align: center;
  object-fit: cover;
}

h1
{
  font-size: 75px;
  color: azure
}

footer
{
  height: 100px;
}


.navbar-brand {
    color: azure
}


.nav-link.disabled {
    color: azure
}

.nav-link {
    color: azure
}

.title
{
  color: azure
}

#status
{
   resize: none;
   text-align: center;
   border: none;
}

textarea
{
   
   resize: none;
   text-align: center;
   border: none

}

#dispCard
{
    display: flex;
  justify-content: center;
  align-items: center;
  height:275px;
}

#imgDisp
{

    max-height: 250px;
}

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#mainCard
{
    
   max-height: 700px;
   align-items: center;

}


#optionBox
{

   height: 100%;
}
  

 .container .jumbotron {
    border-radius: 10px ;
}

img
{

    padding: 5px;
}

#table
{
  word-break: break-word;
}